<div class="container">
  <div class="child">
    <button class="btn btn-primary" type="button" (click)="startTest()">Start Load Test</button>
    <button class="btn btn-primary" type="button" (click)="showAdvance()">Advance Options</button>
    <p *ngIf="running">Seconds after timer started : {{ time }}</p>
    <mat-progress-bar *ngIf="running" mode="buffer"></mat-progress-bar>
  </div>
  <div class="child" *ngIf="advance">
    <form [formGroup]="AdvanceForm">
      <mat-form-field>
        <mat-label>Test plan name: </mat-label>
        <input matInput type="text" id="planName" value="" formControlName="planName" /><br />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Number of Loops: </mat-label>
        <input matInput type="number" id="loops" min="0" formControlName="loops" /><br />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Duration : </mat-label>
        <input matInput type="number" id="duration" min="0" formControlName="duration" /><br />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Number of threads </mat-label>
        <input matInput type="number" id="thread" min="0" formControlName="thread" /><br />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Number of rampUp: </mat-label>
        <input matInput type="number" id="rampUp" min="0" formControlName="rampUp" /><br />
      </mat-form-field>
    </form>
  </div>
  <div *ngIf="running">
    <h3>Load Test Settings</h3>
    <p *ngIf="advance">Test Plan Name : {{ LFC.testPlanName }}</p>
    <p>Number of Loops : {{ LFC.loops }} Loops</p>
    <p>Duration of tests : {{ LFC.durations }} seconds</p>
    <p>Number of threads : {{ LFC.threads }} threads</p>
    <p>number of ramp ups : {{ LFC.rampUp }} ramps</p>
  </div>
  <div class="center">
    <div *ngIf="MsgShow" class="alert alert-success text-center" role="alert">
      {{ Msg }}
    </div>
  </div>
</div>
